<head> 
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row justify-content-between">
     
      <div class="col-6 col-lg-3 mb-3">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/">Home</a></li>
          <li class="mb-2"><a href="#">Q&A</a></li>
          <li class="mb-2"><a href="#">Term of privacy</a></li>
          <li class="mb-2"><a href="#">Term of change and Return</a></li>
        </ul>
      </div>

      <div class="col-6 col-lg-3 mb-3">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="tel:+66956489415">Tel:+66956489415</a></li>
          <li class="mb-2"><a href="mailto:fxred727@gmail.com">Email: contact@c2w.co.th</a></li>
          <!-- <li class="mb-2"><a>Send an Email</a></li> -->
        </ul>
      </div>

      <div class="col-6 col-lg-3 mb-3">
        <h5>About C2W</h5>
        <ul class="list-unstyled">
          <!-- <li class="mb-2"><a href="js/map.html" target="_blank" rel="noopener">Store Location</a></li> -->
          <li class="mb-2">
            <form action="/store-location" method="post" style="display: inline;">
              <button type="submit" class="btn-link" style="background: none; border: none; padding: 0; color: #0d9276; text-decoration: underline; cursor: pointer;">Store Location</button>
            </form>
          </li>
          
          <li class="mb-2"><a href="" target="_blank" rel="noopener">Contact for information</a></li>
          <li class="mb-2"><a>Office Of the University Building 2, 239 Huay Kaew Road, Suthep Subdistrict, Muang District, Chiang Mai Province Postal Code 50200</a></li>
        </ul>
      </div>
      
    </div>
  </div>
</footer>
