
<header><%- include('partials/header'); %></header>

  
<section id="product1" class="section-p1">
    <p>shoe women</p>
    <div class="product-container">
        <div class="product_pro">
            <img src="./pic/pink_shoe.jpg" alt="pink shoe for women">
            <div class="des">
                <span>Adidas si </span>
                <h5>Adidas si........</h5>
                <h4>฿ 2499 </h4>
            </div>
        </div>
        
    </div>
</section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>


<footer><%- include('partials/footer'); %></footer>

