<!DOCTYPE html>
<html>
  <head>
    <title>C2W Store Location</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />

    <!-- The callback parameter is required, so we use console.debug as a noop -->
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQWVf8-qkgn98IgjFlKsVowd-RBpfL7Kg&callback=console.debug&libraries=maps,marker&v=beta"
    ></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      gmp-map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <header>    <%- include('partials/header'); %>
  </header>
  <body>
    <gmp-map
      center="18.800451278686523,98.95040130615234"
      zoom="14"
      map-id="DEMO_MAP_ID"
    >
      <gmp-advanced-marker
        position="18.800451278686523,98.95040130615234"
        title="My location"
      ></gmp-advanced-marker>
    </gmp-map>
  </body>
  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
  <footer>    <%- include('partials/footer'); %>
  </footer>
</html>
