/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

body {
  background-color: #fff6e9;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search {
  width: auto;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 14px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.25s;
}

.search:focus-within {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.search-input {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #333333;
  outline: none;
  border: none;
  background: transparent;
  width: auto;
}

.search-input::placeholder,
.search-icon {
  color: #0d9276;
}

#section-1 .container-fluid .row {
  padding: 20px;
}

#section-2 .container-fluid .row {
  padding: 25px;
}

#section-4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
}

#section-4 .container {
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  bottom: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(30px);
}

.slider-wrapper .slide-button:hover {
  background: #444;
}

.slider-wrapper .slide-button#prev-slide {
  left: -20px;
}

.slider-wrapper .slide-button#next-slide {
  right: -20px;
}

.slider-wrapper .image-list {
  display: grid;
  gap: 18px;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

#section-4 .container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

@media (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}

.col-md-12 {
  padding: 45px;
}

#section-6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
}

#section-6 .container {
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper-2 {
  position: relative;
}

.slider-wrapper-2 .slide-button-2 {
  position: absolute;
  bottom: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(30px);
}

.slider-wrapper-2 .slide-button-2:hover {
  background: #444;
}

.slider-wrapper-2 .slide-button-2#prev-slide-2 {
  left: -20px;
}

.slider-wrapper-2 .slide-button-2#next-slide-2 {
  right: -20px;
}

.slider-wrapper-2 .image-list-2 {
  display: grid;
  gap: 18px;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper-2 .image-list-2::-webkit-scrollbar {
  display: none;
}

.slider-wrapper-2 .image-list-2 .image-item-2 {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

#section-6 .container .slider-scrollbar-2 {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar-2 .scrollbar-track-2 {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar-2:hover .scrollbar-track-2 {
  height: 4px;
}

.slider-scrollbar-2 .scrollbar-thumb-2 {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar-2 .scrollbar-thumb-2:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar-2 .scrollbar-thumb-2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

@media (max-width: 1023px) {
  .slider-wrapper-2 .slide-button-2 {
    display: none !important;
  }

  .slider-wrapper-2 .image-list-2 {
    gap: 10px;
    margin-bottom: 15px;
  }

  .slider-wrapper-2 .image-list-2 .image-item-2 {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar-2 .scrollbar-thumb-2 {
    width: 20%;
  }
}

.newArrival {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.bestSeller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-promo {
  padding: 20px;
  width: 490px;
  height: 514px;
  border-radius: 20px;
}

@media (max-width: 1023px) {
    .image-promo {
      width: 390px;
      height: 414px;
    }
}

img {
  border-radius: 20px;
}

h5 {
  font-family: "Inter", sans-serif;
  text-align: center;
}
