/* html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
} */

#product1 {
  text-align: center;
  
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  /* padding: 20px; */
}
#product1 .product_pro {
  /* width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);

  margin-left: 25px; Adjust this value to increase or decrease the space */
  width: calc(25% - 40px); /* Adjust width for spacing */
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  /* padding: 16px; */
  text-align: center;
}

#product1 .product_pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .product_pro .des{
  background-color: #BBE2EC; /* This sets the background color */
  /* padding: 8px; /* Add padding if needed */
  /* border-radius: 4px; Optional, if you want rounded corners */ 
}
